<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/style.css" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
 <title>Document</title>
 </head>
<body>

{##}
{#{'title': 'Show wish husband decade act can raise degree finish receive detail still like window whose audience continue magazine.',#}
{#'image_url': 'https://picsum.photos/300/200?id=312', 'likes': 96,#}
{#'user': {'username': 'gregory25', 'first_name': 'Robert', 'last_name': 'Burnett', 'email': 'michael91@yahoo.com', 'image_url': 'https://picsum.photos/300/200?id=856',#}
{#'profile_url': 'https://picsum.photos/50/50?id=856', 'thumb_url': 'https://picsum.photos/30/30?id=856'}, 'time_posted': '2022-01-24T06:09:53.980720', 'display_time': '10 hours ago',#}
{#'comments':
    [
    {'text': 'Citizen product cold past during increase.', 'user': {'username': 'nicholas96', 'first_name': 'David', 'last_name': 'Morgan', 'email': 'parkerrobert@gmail.com',#}
{#'image_url': 'https://picsum.photos/300/200?id=104', 'profile_url': 'https://picsum.photos/50/50?id=104', 'thumb_url': 'https://picsum.photos/30/30?id=104'}},#}

{#{'text': 'Choice stay paper campaign ready game project fight hard recognize information effect billion.',#}
{#'user': {'username': 'jasonturner', 'first_name': 'John', 'last_name': 'Johnson', 'email': 'moranshane@gmail.com',#}
{#'image_url': 'https://picsum.photos/300/200?id=32', 'profile_url': 'https://picsum.photos/50/50?id=32', 'thumb_url': 'https://picsum.photos/30/30?id=32'}}

]},#}



        <div class="cards">

            {% for post in posts%}
            <div class="post">
                <div class="user_name">
                    <h3 class="left margin_left"> {{ post.user.username }}</h3>
                    <h3 class="right margin_right"><i class="material-icons">more_horiz</i></h3>
                </div>

                 <div>
                 <img  alt="Image posted by {{ post.get("user").get("username") }}." src={{ post.image_url }}>
                 </div>

                <div class="card_reaction">
                    <div class="card_icons">
                        <div class="left margin_left">
                             <i class="material-icons">send</i>
                             <i class="material-icons">favorite_border</i>
                            <i class="material-icons">chat_bubble_outline</i>
                        </div>
                        <div class="right margin_right">
                             <i class="material-icons">bookmark_border</i>
                        </div>
                    </div>
                </div>

                <div class="comments margin_left margin_bottom">

                     <div>
                        <h5> {{ post.likes }} likes </h5>
                    </div>

{#                DISPLAY TITLE OF THE POST
#}


                    <div class="comment">
                        <h4 class="margin"> {{ post.user.username  }}</h4>
                        <p class=""> {{ post.title }}</p>
                    </div>


{#                COMMENTS
#}
                    {% if post.get("comments")[1:] | length > 0 %}
                        <a> View all {{ post.get("comments")|length }} comments</a>
                    {% endif %}

                {% for comment in post.get("comments")[:1] %}
                    <div class="comment">
                        <h4 class="margin"> {{ comment.get("user").get("username") }}</h4>
                        <p> {{ comment.get("text") }}</p>
                    </div>
                {% endfor %}



                <p class = "uppercase"> {{  post.get("display_time")}}</p>



                <hr class="solid_line">

                <div>
                    <div class = "left">
                        <p> Add a comment...</p>
                    </div>
                     <div class = "right margin_right">
                        <a href=""> Post</a>
                    </div>

                </div>

{#                 <div class="comments large_margin_bottom ">#}
{#                     <div class="left margin_left">#}
{#                        <i class="material-icons left">sentiment_satisfied</i>#}
{#                         <p> Add a comment</p>#}
{#                     </div>#}
{##}
{#                     <div class="right margin_right">#}
{#                         <a href="">Post</a>#}
{#                     </div>#}
{#                </div>#}

            </div>

             {% endfor %}#}
        </div>
        </div>

</body>
</html>