<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/style.css" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
 <title>Document</title>
 </head>
<body>

    <div class= 'navbar'>
        <img class="logo" alt="Logo showing a photo camera."
             src="https://upload.wikimedia.org/wikipedia/commons/e/e7/Instagram_logo_2016.svg">
        <a href=""> Sign Out </a>
        <a class="active" href="">{{ user.username }}</a>

	</div>

</body>
</html>