<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/style.css" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
 <title>Document</title>
 </head>
<body>

      <div class="stories margin_bottom ">

             {% for story in stories%}
                <div class="story">
                         <img class="round" alt="A profile photo for {{ story.user.username }}" src={{ story.user.image_url }} >
                    <h3 class="story_user_name"> {{ story.user.username }} </h3>
                </div>

            {% endfor %}

      </div>

</body>
</html>