<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/style.css" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
 <title>Document</title>
 </head>
<body>

       <div class="recommendation_panel">

            <div class="user_profile">
                <img alt="A profile photo" src={{ user.image_url }} >
                 <h3> {{ user.username }} </h3>
            </div>


           <h2>Suggestions for you</h2>

             {% for suggestion in suggestions%}
                 <div class="recomm">

                        <div class="left">
                              <div>
                                  <img  class="fixed_round80" alt="A profile photo for {{ suggestion.username }}" src={{ suggestion.image_url }} >
                              </div>

                             <div>
                                  <h3> {{suggestion.username }} </h3>
                                  <p> Suggested for you </p>
                             </div>
                        </div>

                        <div class="right">
                            <a href =""> follow</a>
                        </div>
                 </div>

{#                <div class="profile">#}
{##}
{#                     <img class="round small_img" alt="A profile photo for {{ suggestion.username }}" src={{ suggestion.image_url }}  />#}
{#                     <div class="profile_info">#}
{#                        <h3> {{suggestion.username }} </h3>#}
{#                        <p> Suggested for you </p>#}
{#                     </div>#}
{#                    <a href="">follow</a>#}
{#                </div>#}
            {% endfor %}


        </div>

</body>
</html>