<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
     <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
     <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa">
 <title>Document</title>
 </head>
<body>


     {% include 'includes/navbar.html' %}
     {% include 'includes/suggestions.html' %}

     <div class ="main">

         {% include 'includes/stories.html' %}
         {% include 'includes/cards.html' %}


    </div>

</body>
</html>



<!---
Alt Text Comment

To simplify adding Alt text to all images, I would add a button for when a user is posting a photo which would enable
a quick way of adding Alt text. To simplify the process for users and make it more likely that they are going to
input the text, an image recognition software could be run on each image to generate a suitable description and user
would only select if they agree with it.
--->

